*{
	padding: 0;
	margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.main-div{
	width: 100vw;
	min-height: 100vh;
	display: flex;
	place-items: center;
	background-color: lightblue;
}
.inner-div{
	width: 100vw;
	background-color: white;
    padding: 3rem 8rem;
    border-radius: 1rem;
    box-shadow: 0 10px 10px -7px black ;
}
.inner-div h2{
	font-size: 30px;
	margin: 1rem 0 4rem 0px;
}
.inner-div li{
	font-size: 1.5rem;
	list-style: none;
	margin-top: 1.5rem;
}
input{
	cursor: pointer;
}
#submit, .btn{
	padding: 1rem 3rem;
	outline: none;
	font-size: 1.5rem;
	margin: auto;
    border: none;
    display: block;
    margin-top: 4rem;
}
#submit:hover{
	background-color: skyblue;
}
#showscore{
	background-color: green;
	margin-top: 3rem;
	padding: 3rem 4rem;
	 box-shadow: 0 10px 10px -7px black ;

}
.scorearea{
	display: none;
}

#showscore h3{
	font-size: 3rem;
	text-align: center;

}
#showscore .btn:hover{
	background-color: lightgreen;
	color: black;
}